.card {
    position: relative;
}

.card__image {
    width: 100%;
    height: 151px;
    object-fit: cover;
    object-position: center;
    padding-bottom: 59px;
    border-bottom: 1px solid #e8e8e8;
}

.card__name {
    position: absolute;
    top: 165px;
    left: 0;
    height: 32px;
    width: calc(100% - 44px);
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
}

.card__button {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 161px;
    right: 0;
    background-color: #f9f9f9;
    border-radius: 50%;
}

.card__duration {
    margin: 6px 0 0;
    font-size: 11px;
    line-height: 13px;
    color: #A0A0A0;
}

@media (max-width: 1250px) {
    .card__image {
        height: 190px;
        padding-bottom: 59px;
        border-bottom: 1px solid #e8e8e8;
    }
    .card__name {
        top: 204px;
    }
    .card__button {
        top: 201px;
    }
}

@media (max-width: 730px) {
    .card__image {
        height: 168px;
    }
    
    .card__name {
        top: 183px;
        font-size: 12px;
        line-height: 15px;
    }
    
    .card__button {
        top: 178px;
    }
    
    .card__duration {
        font-size: 10px;
        line-height: 12px;
    }
}