.profile {
    width: 410px;
    min-height: calc(100vh - 74px - 70px);
    padding: 0 0 70px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 74px 0 105px;
}

.profile__input-block {
    width: 100%;
    margin-bottom: auto;
}
.profile__label {
    width: 100%;
    height: 20px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-bottom: 1px solid #e8e8e8;
    overflow-wrap: unset;
    position: relative;
}

.profile__label:last-child {
    border-bottom: none;
}

.profile__input {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    width: 100%;
    height: 21px;
    padding: 0;
    text-align: end;
    border: none;
    outline: none;
    position: absolute;
    top: 14px;
    left: 0;
    border-radius: 4px;
    background: none;
    outline-offset: -10px;
    transition: all .3s ease;
}
.profile__error {
    position: absolute;
    right: 0;
    top: 30px;
    font-size: 11px;
    line-height: 12px;
    color: #FF4062;
    height: 14px;
}
.profile__label-span {
    z-index: 10;
}
.profile__input:focus {
    outline: 1px solid deeppink;
    outline-offset: 10px;
}

.profile__submit:disabled {
    opacity: .6;
    cursor: default;
}
.profile__responce {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: green;
    margin-bottom: 20px;
}
.profile__responce_fail {
    color: #FF004C;
}
.profile__submit {
    font-size: 13px;
    line-height: 16px;
    background: none;
}

.profile__signout-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FF4062;
    margin-top: 16px;
    background: none;
}
@media (max-width: 730px) {
    .profile {
        width: 260px;
        min-height: calc(100vh - 74px - 40px);
        padding: 0 0 40px;
    }
    
    .profile__title {
        margin: 70px 0 80px;
    }
    
    .profile__submit {
        font-size: 12px;
        line-height: 15px;
    }
    
    .profile__signout-btn {
        font-size: 12px;
        line-height: 15px;
    }
}