.footer {
    width: 1140px;
    margin: auto;
    padding: 79px 0 20px;
    font-size: 13px;
}

.footer__text {
    color: #A0A0A0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer__nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.footer__nav-item {
    margin: 0 0 0 20px;
}

@media (max-width: 1250px) {
    .footer {
        width: 708px;
    }
}

@media (max-width: 730px) {
    .footer {
        width: 300px;
        padding: 79px 0 10px;
        font-size: 12px;
    }
    
    .footer__text {
        padding-bottom: 21px;
    }
    
    .footer__row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
    }
    
    .footer__nav {
        margin: 0;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
    }
    
    .footer__nav-item {
        margin: 6px auto;
    }
}